<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- 定义了WEB应用的名字 -->
	<display-name>enjoysport</display-name>
	<!-- 声明WEB应用的描述信息 -->
	<description>Bootstrap,Spring</description>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:ApplicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>EnjoySportFrontController</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>classpath:EnjoySportSpringMVC.xml</param-value>  
    </init-param>  
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnjoySportFrontController</servlet-name>
		<url-pattern>/enjoysport/*</url-pattern>
	</servlet-mapping>

	<!-- 欢迎界面 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>

