<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<!-- 定义了WEB应用的名字 -->
	<display-name>enjoysport</display-name>
	<!-- 声明WEB应用的描述信息 -->
	<description>Bootstrap,Spring</description>
	
	<!-- 使用SpringMVC配置逻辑 -->
	<servlet>
		<servlet-name>EnjoySportFrontController</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>  
        	<param-name>contextConfigLocation</param-name>
        	<param-value>classpath:SpringMVCHelloWorld.xml</param-value>  
    	</init-param>  
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnjoySportFrontController</servlet-name>
		<!-- 至拦截enjoysport下*.do的请求 -->
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<!-- 使用SpringMVC配置逻辑 -->
	
	<!-- 欢迎界面 -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>

